appdirs==1.4.3
asgiref==3.2.5
bcrypt==3.1.7
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cmake==3.16.3
cryptography==2.8
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.4
django-cors-headers==3.2.1
django-heroku==0.3.1
dlib==19.19.0
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.0.12
gunicorn==20.0.4
idna==2.9
jwt==0.6.1
lxml==4.5.0
numpy==1.18.1
pandas==1.0.2
Pillow==7.0.0
psycopg2==2.8.4
pycparser==2.20
PyJWT==1.4.2
pymongo==3.10.1
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
virtualenv==20.0.10
whitenoise==5.0.1
